.image-sp{
    width: 100%;
    margin: 0 auto;
}
.first-line{
    color:#FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
padding-top: 180px;
padding-left: 250px;
background-repeat: no-repeat;
font-weight: 400;
line-height: normal;
margin-top: 50px;
background-image: url(../banner.png); width: 1300px;
height: 600px;background-position: 50%;
}
.best-offer{
text-align: left;
padding-left: 140px;
padding-top: 100px;
}
.nice{
    color: #F00;
}
   


.off{
    color: black;
text-align: center;
font-size: 90px;
font-weight: 650;
}
.description{
    text-align: center;
    margin-top: 10px;
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.catagory{color: black; 
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
text-align: center;
    font-family: Inter;

}
.happy-new-year{
   
    width: 800px;
height: 500px;
margin-left: 400px;
margin-right: 400px;
}

.second-line{
    font-size: larger;
}
.partyyesss,.para{
    
margin-left: 150px;
font-weight: 900;
color: #FFF;
background-repeat: no-repeat;
font-family: Merriweather;
font-size: 20px;
font-style: normal;
font-weight: 900;
}
.btn{
    margin-left: 150px ;
    color: black;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.backiii{
  background: url(../party.png);
      background-repeat: no-repeat;
width: 1300px;
height: 500px;
padding-top: 500px;
padding-left: 50px;
margin-top: 120px;
background-position: center;
text-align: left;
padding-bottom: 0px;
}
.bg{
    background-color: lightpink;
    text-align: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 1300px;
height: 500px;
}
.time{
    padding-top: 240px;
}
.button{
    color: black;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.besto-offer{
    text-align: right;
    padding-right: 100px;
    padding-top: 100px;


}
.two{
    display: flex;
    gap: 200px;
}